"Package","Version Installed","Vulnerability ID","Severity","Location",
{{- range .Matches}}
"{{.Artifact.Name}}","{{.Artifact.Version}}","{{.Vulnerability.ID}}","{{.Vulnerability.Severity}}","{{.Vulnerability.DataSource}}","{{.Vulnerability.Namespace}}","{{.Vulnerability.Fix.State}}","{{.Artifact.Locations}}"
{{- end}}
