streamlit==1.21.0
protobuf==3.20.3
graphistry==0.28.7

################
#
#  Per-DB
#
################

### Neptune
gremlinpython==3.6.2
sshtunnel==0.1.5

### TigerGraph
pyTigerGraph  # Unpinned as TG Cloud is rapidly moving
plotly  # for demos