graphistry==0.33.8
streamlit==1.25.0

################
#
#  Per-DB
#
################

### Neptune
# bumping version to get around tornado dependency issue w/ streamlit
# gremlinpython==3.4.10
gremlinpython==3.7.0

# tcook: not used?
# sshtunnel==0.1.5

### TigerGraph
pyTigerGraph    # Unpinned as TG Cloud is rapidly moving
plotly          # for demos

### Splunk
splunk-sdk==1.7.4

