streamlit==0.77.0
protobuf==3.13.0
graphistry==0.17.2

################
#
#  Per-DB
#
################

### Neptune
gremlinpython==3.4.10
sshtunnel==0.1.5

### TigerGraph
pyTigerGraphBeta  # Unpinned as TG Cloud is rapidly moving
plotly==4.14.3  # for demos