##########################################################################################
###                                                                                      #
### CUSTOM CADDYFILE                                                                     #
###                                                                                      #
### Caddy proxy configuration                                                            #
###                                                                                      #
###   -- Examples: See Caddyfile.default and official Caddy 1 docs                       #
###                                                                                      #
###   -- Relaunch:                                                                       #
###                                                                                      #
###      docker-compose stop caddy && docker-compose up -d                               #
###                                                                                      #
##########################################################################################

### Automatic TLS certificates with LetsEncrypt
:80, a.bc.com {
  tls {
    max_certs 100
  }

  #your regular app, e.g., Graphistry server
  #proxy / nginx:80 {
  #  except /dashboard
  #  websocket
  #  transparent
  #}

  #streamlit
  #check `docker ps` as `streamlit:8501` may instead be something like `streamlit-pub_streamlit_1:8502`
  proxy /dashboard streamlit:8501 {
    websocket
    transparent
  }

  #streamlit static assets (check browser console if page loads but not assets like images)
  #proxy /assets streamlit:8501 {
  #  websocket
  #  transparent
  #}

  #optionally auth
  #reauth {
  #  path /dashboard
  #  except /static
  #  upstream url=http://nginx/django-json-auth,timeout=20s,follow=false,cookies=true
  #  failure redirect target=/accounts/login/?next={uri}
  #}

}


### HTTP
### Use when IP-only / LetsEncrypt-prohibited domain (Ex: AWS URLs)
#:80 {
#
#}

### Manual TLS
#https://your.site.ngo:443 {
#  tls /root/.caddy/my.crt /root/.caddy/my.key
#}
